PUBLIC_BASE_URL="https://www.sherqo.me"

PUBLIC_DEFAULT_TITLE="Sharqawy Wael (Sherqo) - sharqawycs"
PUBLIC_DEFAULT_DESCRIPTION="Personal site and technical journal by Sharqawy Wael, also known as Sherqo and sharqawycs."

PUBLIC_POSTFIX=""
PUBLIC_OG_IMAGE="/og-image.png"
