---
import { getCollection, type CollectionEntry } from 'astro:content';
import PageLayout from '@/components/layouts/PageLayout.astro';
import PageHeader from '@/components/PageHeader.astro';

export async function getStaticPaths() {
  const journals = await getCollection('journal');
  return journals.map((journal: CollectionEntry<'journal'>) => ({
    params: { slug: journal.slug },
    props: { journal },
  }));
}

const { journal } = Astro.props as { journal: CollectionEntry<'journal'> };
const { Content } = await journal.render();
---

<PageLayout
  title={journal.data.title}
  description={journal.data.description || journal.data.title}
  ogImage={import.meta.env.PUBLIC_BASE_URL + import.meta.env.PUBLIC_OG_IMAGE}>
  <article>
    <PageHeader
      subtitle={journal.data.description}
      date={journal.data.date.toLocaleDateString('en-GB', {
        day: '2-digit',
        month: 'short',
        year: 'numeric',
      })}>{journal.data.title}</PageHeader
    >

    <Content />

    <a href="/"> &#8592; Back to Home</a>
  </article>
</PageLayout>
