@import 'tailwindcss';
@plugin "@tailwindcss/typography";
@custom-variant dark (&:where(.dark, .dark *));

html {
  scroll-behavior: smooth;
}

/* text selection colors */
::selection {
  background-color: var(--primary);
  color: var(--primary-foreground);
}

/* 
  * NOTE: Fonts are imported in RootLayout.astro | installed with fontsource
*/

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-border: var(--border);

  --font-sans: 'Inter Variable', system-ui, sans-serif;
  --font-serif: 'Times New Roman', serif;
  --font-mono: monospace;

  --font-primary: var(--font-sans);
}

:root {
  --background: #ffffff;
  --foreground: #0f1013;
  --primary: #ad0054;
  --primary-foreground: #f8f8f2;
  --muted: #f0e9ff;
  --muted-foreground: #6b6b80;
  --border: #bdbdbb;
}

.dark {
  --background: #101012;
  --foreground: #f8f8f2;
  --primary: #bd457f;
  --primary-foreground: #f8f8f2;
  --muted: #2a2835;
  --muted-foreground: #8b8ba0;
  --border: #44475a;
}

@layer base {
  * {
    @apply border-border;
  }

  /* Prose */
  body {
    @apply prose prose-neutral dark:prose-invert prose-lg; /* Prose base styles */
    @apply prose-a:font-normal prose-a:text-primary prose-a:hover:underline; /* Links */
    @apply prose-hr:border-border max-w-full; /* Horizontal rules */
    @apply prose-img:m-0;
  }

  /* Last to override prose */
  body {
    @apply mx-auto flex min-h-screen max-w-full flex-col;
    @apply text-foreground bg-background;
    font-family: var(--font-primary);
  }

  /* Bring back the default button cursor pointer */
  button:not(:disabled),
  [role='button']:not(:disabled) {
    cursor: pointer;
  }
}

/* Safe area padding for mobile devices */
@layer utilities {
  .pt-safe {
    padding-top: env(safe-area-inset-top);
  }
  .pb-safe {
    padding-bottom: env(safe-area-inset-bottom);
  }
  .pl-safe {
    padding-left: env(safe-area-inset-left);
  }
  .pr-safe {
    padding-right: env(safe-area-inset-right);
  }
  .px-safe {
    padding-right: env(safe-area-inset-right);
    padding-left: env(safe-area-inset-left);
  }
  .py-safe {
    padding-top: env(safe-area-inset-top);
    padding-bottom: env(safe-area-inset-bottom);
  }
}
