---
import ThemeToggler from '@/components/ui/ThemeToggler.astro';
---

<header class="sticky top-0 z-10 w-full border-b bg-transparent backdrop-blur-md backdrop-saturate-150" transition:persist>
  <div class="not-prose mx-auto flex h-12 max-w-3xl items-center justify-between px-4 sm:h-14">
    {/* Transation and duration are set from the body in global.css */}
    <a href="/" class="text-foreground hover:text-primary font-serif text-xl font-bold italic hover:underline">S.</a>

    <div class="flex items-center gap-4">
      <ThemeToggler />
    </div>
  </div>
</header>
