---
import PageLayout from '@/components/layouts/PageLayout.astro';
import PageHeader from '@/components/PageHeader.astro';
---

<PageLayout title="404 - Not Found" description="Page not found.">
  <PageHeader date={new Date().toISOString()}>404 - Not Found</PageHeader>
  <div class="text-center">
    <a href="/">Back to Home</a>
  </div>
</PageLayout>
