---
import { getCollection } from 'astro:content';
import PageLayout from '@/components/layouts/PageLayout.astro';
import PageHeader from '@/components/PageHeader.astro';
import Card from '@/components/Card.astro';
import type { Journal } from '@/lib/journal.type';

const journals = await getCollection('journal');
const sortedJournals = journals.sort((a: Journal, b: Journal) => b.data.date.getTime() - a.data.date.getTime());
---

{/* HOME PAGE '/' */}
<PageLayout title="Home" description="Sharqawy — CS student, builder, and maker. Read my journal.">
  <div class="space-y-16">
    <PageHeader date={new Date().toISOString()}>Sharqawy Wael</PageHeader>

    <div class="space-y-6">
      <p>
        I'm a Computer Engineering student, and this is my public space to share my work, thoughts, and everything I'm figuring out along
        the way. These days, I'm focused on learning low-level systems, kernels, and more about hardware. My résumé is
        <a href="/resume" target="_blank" rel="noopener noreferrer"> available </a>
      </p>
    </div>

    <div>
      <div class="bg-border my-12 h-px"></div>
      {
        sortedJournals.length === 0 ? (
          <p>No posts yet.</p>
        ) : (
          <div class="flex flex-col gap-6">
            {sortedJournals.map((journal: Journal) => (
              <Card journal={journal} />
            ))}
          </div>
        )
      }
    </div>
  </div>
</PageLayout>
