<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Sharqawy Wael — Resume</title>
    <style>
      * {
        margin: 0;
        padding: 0;
      }
      html,
      body {
        width: 100%;
        height: 100%;
        overflow: hidden;
      }
      iframe {
        display: block;
        border: none;
        width: 100%;
        height: 100%;
      }
    </style>
  </head>
  <body>
    <iframe src="https://sherqo.github.io/resume/resume.pdf"></iframe>
  </body>
</html>
