---
import type { Journal } from '@/lib/journal.type';

const { journal } = Astro.props as { journal: Journal };

const includeYear = journal.data.date.getFullYear() !== new Date().getFullYear();
---

<article class="not-prose w-full py-3">
  <a href={`/journal/${journal.slug}`} class="group block space-y-1">
    <div class="flex items-baseline justify-between gap-4">
      <h3 class="text-foreground group-hover:text-primary font-medium underline">
        {journal.data.title}
      </h3>
      <time datetime={journal.data.date.toISOString()} class="text-muted-foreground shrink-0 text-sm">
        {
          journal.data.date.toLocaleDateString('en-GB', {
            day: '2-digit',
            month: 'short',
            year: includeYear ? 'numeric' : undefined,
          })
        }
      </time>
    </div>
    {journal.data.description && <p class="text-muted-foreground text-sm leading-relaxed">{journal.data.description}</p>}
  </a>
</article>
