---
interface PageHeaderProps {
  subtitle?: string;
  date?: string;
}

const { subtitle, date } = Astro.props as PageHeaderProps;
---

<header class="my-8 text-center">
  <h1 class="mb-4">
    <slot />
  </h1>
  {subtitle && <p class="lead mb-4">{subtitle}</p>}
  {date && <time class="text-muted-foreground">{date}</time>}
</header>
