---
import RootLayout from '@/layouts/RootLayout.astro';
import { cn } from '@/lib/utils';
import Footer from '@/components/features/home/Footer.astro';

export interface Props {
  title?: string;
  description?: string;
  ogImage?: string;
  class?: string;
}

const { title, description, ogImage, class: className = '' } = Astro.props as Props;
---

<RootLayout title={title} description={description} ogImage={ogImage}>
  <main class={cn('p-4 flex-1 w-full max-w-3xl mx-auto', className)} transition:animate="initial">
    <slot />
  </main>
  <Footer />
</RootLayout>
